/*--------- CONST ----------*/
:root {
  --font-main: 'Inter';
  
  --white: #EFEFEF;
  --black: #111;
  --grey: #222;
}

/*--------- NULLING STYLE ----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;}
*,*:before, after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
  background-color: var(--white);
  color: var(--black);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
div, p, a, span {font-family: var(--font-main);}
input,button,textarea{font-family: var(--font-main);}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-mox-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none; cursor: pointer; display: block;}
a:hover{text-decoration: none;}
img{display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-family: var(--font-main)}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--black);
}
a:hover {
  opacity: 0.7;
}

h1 {
  text-align: center;
  margin: 0 0 15px 0;
}

ul {
  margin: 0 0 0 15px;
}
li {
  margin: 0 0 6px 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 60px;
  background-color: var(--grey);
}
header a {
  color: var(--white);
}

footer {
  padding: 12px 0;
  font-size: 13px;
  text-align: center;
  color: #dfdfdf;
  background-color: var(--grey);;
}

main {
  flex: 1;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}